name: Test the Lab 1 of Testing
on: push
jobs:
  test-testing-lab1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: bats test
        run: |
          echo "run test..."
          ./tests/bats/bin/bats tests/lab-tests.bats
        shell: bash